.nav-bar {
  display: flex;
  align-items: center;
  height: 5rem;
  border: black solid 1px;
  justify-content: space-between;
  padding: 0 1% 0 1%;
  position: fixed;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
}

a {
  text-decoration: none;
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
}

.film-icon {
  background-image: url('../assets/film-icon.svg');
  height: 50px;
  width: 50px;
}

.login-btn {
  border: 1px black solid;
  padding: 1%;
  border-radius: 30px;
  font-size: 18px;
  width: 7%;
  text-align: center;
}
